<extend name="template/base_index" />


<block name="area_header">
	
	<style type="text/css">
		.result-reporter{
			width:100%;
			padding: 10px;
			margin-bottom: 20px;
		}
		.solution .border-left{
			  border-left: 1px solid #ddd !important;
		}
		#mobileImage img{
			width:100%;
		}
		@media only screen and (min-width: 640px) {
			.admin-content{
				background: #9D8E8E;
			}
			.result-reporter{
				width:640px;
				margin:0 auto;
				background: #FFFFFF;
				padding: 10px;
				margin-bottom: 20px;
			}
			[class*=am-u-]+[class*=am-u-]:last-child{
				float:none;
			}
		}
		
		@media only screen and (min-width: 940px) {
			.result-reporter{
				width:940px;
			}
		}
		
		@media only screen and (min-width: 1024px) {
			.result-reporter{
				width:1024px;
			}
		}
		
		
		
	</style>
	<script type="text/javascript" src="__CDN__/echarts/2.2.2/echarts.js"></script>
</block>

<block name="area_body">
	<div class="admin-content">
		<div class="result-reporter">
			
			
			
			<div class="reporter-user-info am-text-center">
				<h1>测验结果报告</h1>
			</div>
			<div class="chart">
				<div id="mobileImage" class=" am-sm-show"></div>
				<div id="main" style="height:400px;min-width: 960px;"></div>
			</div>
			<div>
				<ul class="am-list am-list-static am-list-border">
					<li >总分: <span class="am-badge <if condition="$data['_data']['f_score'][0]['allscore'] gt 160">am-badge-danger<else/>am-badge-primary</if> ">{$data['_data']['f_score'][0]['allscore']}</span></li>
					<li >阳性项目数: <span class="am-badge  <if condition="$data['_data']['f_score'][0]['positive_items'] gt 43">am-badge-danger<else/>am-badge-primary</if> ">{$data['_data']['f_score'][0]['positive_items']}</span> </li>
					<li >阳性症状均分: <span class="am-badge  <if condition="$data['_data']['f_score'][0]['avg'] gt 2">am-badge-danger<else/>am-badge-primary</if> ">{$data['_data']['f_score'][0]['avg']}</span> </li>
				</ul>
				
			</div>
			因子分： 			<div class="am-g">
				<div class="am-u-md-4 am-u-sm-6">(1)躯体化：{$data['_data']['f_score'][1]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(2)强迫：{$data['_data']['f_score'][2]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(3)人际关系：{$data['_data']['f_score'][3]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(4)抑  郁：{$data['_data']['f_score'][4]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(5)焦虑：{$data['_data']['f_score'][5]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(6)敌    对：{$data['_data']['f_score'][6]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(7)恐  怖：{$data['_data']['f_score'][7]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(8)偏执：{$data['_data']['f_score'][8]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(9)精神病性：{$data['_data']['f_score'][9]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(10)其 它：{$data['_data']['f_score'][10]['avg']}</div>
			</div>
			<hr/>
			<div class="report-desc">
				<h4 class="am-text-center">分析报告</h4>
			</div>
			<div class="report-info">
				<!-- 描述 -->
				<div class="desc">
					<volist name="data['_data']['desc']['desc']" id="vo">
						<p>{$vo}</p>
					</volist>
				</div>
				
				<!-- F1-F10因子分 -->
				<div class="desc-f110">
					<volist name="data['_data']['desc']['descF110']" id="vo">
						<p>{$vo}</p>
					</volist>
				</div>
				
				<!-- F1-F10因子分 -->
				<div class="desc-summary">
					<volist name="data['_data']['desc']['summary']" id="vo">
						<p>{$vo}</p>
					</volist>
				</div>
				<div>					
					<h3 class="blue-title am-padding-sm am-text-center" style="color:#FFF5D4;background: #668BFF;">个性治疗化方案推荐</h3>
				</div>
				<!-- 解决方案 -->
				<div class="solution">
					
					<h4 class="am-text-center">心理症状情况分析</h4>
					<div>
						{$data['_data']['_solution'][0]}
					</div>
					<h4 class="am-text-center">咨询方法建议</h4>
					<div>
						{$data['_data']['_solution'][1]}
					</div>
					<h4 class="am-text-center">设备使用建议</h4>
					<div class="am-table-responsive">
						<table class="am-table am-table-condensed am-table-bordered am-table-striped">
							<tr>
								<td>
									设备名称
								</td>
								<td>
									功能项目
								</td>
								<td>
									使用次数
								</td>
							</tr>
							
							<tr>
								<td rowspan="2">
									第二代音乐
								</td>
								<td>
									减压放松—纯音乐放松
								</td>
								<td>
									2次
								</td>
							</tr>
							<tr>
								<td class="border-left">
									辅助催眠—辅助催眠引导
								</td>
								<td>
									2次
								</td>
							</tr>
							
							<tr>
								<td>
									III代击打
								</td>
								<td>
									环境适应不良—陌生环境，心理紧张
								</td>
								<td>
									3次
								</td>
							</tr>
							
							<tr>
								<td rowspan="5">
									新身心高级版
								</td>
								<td class="border-left">
									呼吸训练—意念式呼吸
								</td>
								<td>
									-
								</td>
							</tr>
							<tr>
								<td class="border-left">
									呼吸训练—胸腹式呼吸
								</td>
								<td>
									-
								</td>
							</tr>
							
							<tr>
								<td class="border-left">
									定向放松训练—平静的湖水
								</td>
								<td>
									-
								</td>
							</tr>
							
							<tr>
								<td class="border-left">
									自律训练—真实感受训练法
								</td>
								<td>
									-
								</td>
							</tr>
							<tr>
								<td class="border-left">
									自律训练—想像干啥训练法
								</td>
								<td>
									-
								</td>
							</tr>
						</table>
					</div>
					<h4 class="am-text-center">日常心理建议</h4>
					<div>
						<volist name="data['_data']['_solution'][3]" id="vo">
							<p>{$key+1}. {$vo}</p>
						</volist>
					</div>
				</div>
				
				<div>					
					<h3 class="am-text-center">个性治疗效果</h3>
				</div>
			
			</div>
			
		</div>
	</div>
</block>

<block name="area_footer">
	<script type="text/javascript">
        require.config({
            paths: {
                echarts: '__CDN__/echarts/2.2.2'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
            ],
            function (ec) {
                var myChart = ec.init(document.getElementById('main'));
                  var option = {
                  	title : {
				        text: '',
				        subtext: '浏览器宽度原因，部分因子可能显示不全'
				    },
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['因子分']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ["躯体化","强迫","人际关系","抑郁","焦虑","敌对","恐怖","偏执","精神病性","其它"]
                        }
                    ],
                    yAxis : [
                        {
                        		min:0,
                        		max:5.0,
                             type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"因子分",
                            "type":"line",
                            "data":[{$data['_data']['f_score'][1]['avg']}, {$data['_data']['f_score'][2]['avg']}, {$data['_data']['f_score'][3]['avg']}, {$data['_data']['f_score'][4]['avg']}, {$data['_data']['f_score'][5]['avg']}, {$data['_data']['f_score'][6]['avg']},{$data['_data']['f_score'][7]['avg']},{$data['_data']['f_score'][8]['avg']},{$data['_data']['f_score'][9]['avg']},{$data['_data']['f_score'][10]['avg']}]
                        }
                    ]
                };
        
                myChart.setOption(option);
            }
        );
        // Converts canvas to an image
		function convertCanvasToImage() {
			console.log("convertCanvasToImage");
			var img = $("#mobileImage img");
			var canvas = $("#main canvas");
			if(canvas.length > 0 && img.length == 0){
				canvas = canvas.get(0);
				console.log(canvas);
				var img = $("<img />");
				$("#mobileImage").append(img);
				img.attr("src",canvas.toDataURL("image/png"));
//				$("#main").hide();
			}else{
				window.timeoutID = setTimeout(convertCanvasToImage,1000);
			}
		}
		
        $(function(){
        		var isMobile = {:isMobile()? 1:0};
        		if(isMobile){
        			//移动端下
        			window.timeoutID =  setTimeout(convertCanvasToImage,1000);
        		}
        })
    </script>
</block>