<extend name="template/base_index" />


<block name="area_header">
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/localization/messages_zh.min.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="__CDN__/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript"  src="__CDN__/ueditor/1.4.3/ueditor.all.min.js"> </script>
	<link type="text/css" rel="stylesheet" href="__CDN__/comp/wxuploader.css?v=__APP_VERSION__" />
	<link type="text/css" rel="stylesheet" href="__CDN__/jquery-uploadify/3.2.1/uploadify.css" />
	<link rel="stylesheet" type="text/css" media="all" href="__CDN__/jquery-datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="__CDN__/jquery-uploadify/3.2.1/jquery.uploadify.min.js"></script>
	
	<script type="text/javascript" src="__CDN__/jquery/1.8.3/jquery.min.js"></script>
	
	
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
		
			<!-- 带验证 form -->
			<form class="form-horizontal well validateForm">
				<table >
					<tr>
						<td colspan="2">sadf</td>
						<td colspan="2"><input type="text"></td>
						<td colspan="2">sadf</td>
						<td colspan="2"><input type="text"></td>
						<td colspan="2">sadf</td>
						<td colspan="2"><input type="text"></td>
						<td colspan="2">sadf</td>
						<td colspan="2"><input type="text"></td>
						
						
					</tr>
				</table>
					
			</form>
			<!-- form -->

			<include file="template/wxpicture" />
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
		
</block>

<block name="area_footer">

</block>