<extend name="template/base_index" />


<block name="area_header">
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/localization/messages_zh.min.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="__CDN__/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript"  src="__CDN__/ueditor/1.4.3/ueditor.all.min.js"> </script>
	<link type="text/css" rel="stylesheet" href="__CDN__/comp/wxuploader.css?v=__APP_VERSION__" />
	<link type="text/css" rel="stylesheet" href="__CDN__/jquery-uploadify/3.2.1/uploadify.css" />
	<link rel="stylesheet" type="text/css" media="all" href="__CDN__/jquery-datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="__CDN__/jquery-uploadify/3.2.1/jquery.uploadify.min.js"></script>
	
	<script type="text/javascript" src="__CDN__/jquery/1.8.3/jquery.min.js"></script>
	<style type="text/css">
		.tb tr td{padding: 10px; border: 1px solid #FFFFFF; padding: 10px !important; text-align: center;}
		.tb tr td input{ width: 100%;}
	</style>
	
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
			<h4>3、学习经历</h4>
			<!-- 带验证 form -->
			<form class="form-horizontal well validateForm">
				<table class="tb">
					<tr>
						<td colspan="10">学习情况</td>
						<td colspan="6">对集体的喜爱程度</td>
					</tr>
					<tr>
						<td colspan="3">起止时间</td>
						<td colspan="4">在何校学习</td>
						<td colspan="3">担任职务</td>
						<td >喜欢</td>
						<td >较喜欢</td>
						<td >一般</td>
						<td>不太喜欢</td>
						<td >不喜欢</td>
						
						
					</tr>
					<tr>
						<td colspan="3"><input type="text" name="" id="" value="" /></td>
						<td colspan="4"><input type="text" name="" id="" value="" /></td>
						<td colspan="3"><input type="text" name="" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						
						
					</tr>
					<tr>
						<td colspan="3"><input type="text" name="" id="" value="" /></td>
						<td colspan="4"><input type="text" name="" id="" value="" /></td>
						<td colspan="3"><input type="text" name="" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						
						
					</tr>
					<tr>
						<td colspan="3"><input type="text" name="" id="" value="" /></td>
						<td colspan="4"><input type="text" name="" id="" value="" /></td>
						<td colspan="3"><input type="text" name="" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						
						
					</tr>
					<tr>
						<td colspan="3"><input type="text" name="" id="" value="" /></td>
						<td colspan="4"><input type="text" name="" id="" value="" /></td>
						<td colspan="3"><input type="text" name="" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						<td ><input type="radio" name="like" id="" value="" /></td>
						
						
					</tr>
				</table>
					
			</form>
			<!-- form -->

			<include file="template/wxpicture" />
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
		
</block>

<block name="area_footer">

</block>