<extend name="include/base_index" />

<block name="area_header">
	<style type="text/css">
		.fll {height: 225px;}.foo {float: right;margin-right: 5px;} #marquee4 {width: 100%;height: 445px;overflow: hidden;}#marquee4 ul li {	margin: 0 auto;	line-height: 20px;}#marquee4 ul li a {float: none;}.iamgs {padding: 4px 28px;text-align: center;}.iamgs img {height: 147px;width: 137px;}.home_jshfc {height: 365px;}.t_list_outerbox {	height: 450px;}
	</style>
	<link href="__CSS__/shouye/index(1).css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="__CSS__/shouye/circle.css" media="all">
	<link href="__CSS__/shouye/indexHader.css" rel="stylesheet" type="text/css">

	<style type="text/css">
		#marquee4 {width: 100%;height: 223px;overflow: hidden;}#marquee4 ul li {margin: 0 auto;line-height: 20px;}#marquee4 ul li a {float: none;}.iamgs {	padding: 4px 28px;	text-align: center;}.iamgs img {	height: 65px;	width:60px;}.home_jshfc {	height: 365px;}.t_list_outerbox {height: 224px;width: 193px;}
	</style>
</block>

<block name="area_body">
	<div>
		<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="">
	</div>
	<div>
		<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="">
	</div>
	<div class="main auto">
		<include file="include/left" />
		<div class="content">

			<div class="content_top fix">
				<div class="fll content_ULBox rel">
					<div class="content_box MultiMap dib rel">
						<div class="MultiMap_img" style="width: 346px; position: relative; height: 245px;">

							<div class="am-slider am-slider-default" data-am-flexslider="{controlNav: true,directionNav: true}">
							  <ul class="am-slides">
							    <li><img src="__IMG__/shouye/bing-1.jpg" /></li>
							     <li><img src="__IMG__/shouye/bing-2.jpg" /></li>
							      <li><img src="__IMG__/shouye/bing-3.jpg" /></li>
							       <li><img src="__IMG__/shouye/bing-4.jpg" /></li>
							  </ul>
							
							</div>
					</div>
						

					</div>
				</div>
				<volist name="cates" id="vo">

					<div class="fll content_ULBox content_ULBox_top">
						<h1 class="content_header indexHader  Headerwidth2"><span>{$vo.name}</span><span style="margin-left: 190px;font-size: 14px; "><a href="">更多&gt;&gt;</a></span></h1>
						<ul class="content_ul">
							<volist name="posts" id="v" offset="0">
								<if condition="$v['post_category'] eq $vo['id']">
									<li>
										<span></span><a class="" href="{:U('Home/Index/info',array('id'=>$v['id']))}"> {$v.post_title}</a>
										</span>
										<span class="dib content_liTime">{$v.post_date|date='Y-m-d ',###}</span>
									</li>
								</if>
							</volist>
						</ul>
					</div>

				</volist>
				<div class="foo content_ULBox" style="background-image:none;">
					<h1 class="content_header indexHader  Headerwidth4 ">教师风采</h1>
					<div class="t_list_outerbox">
						<div id="div_all" style="width: 190px; border: 1px solid #CCCCCC; height: 220px; overflow: hidden;" onmouseover="stop()" onmouseout="start()">
							<div id="div_main1" style="width: 100%;">
								<include file="include/teacher" />
							</div>
						
						    	
						    <div id="div_main2" style=" width: 100%;">
								<include file="include/teacher" />
							</div>
							
						</div>
						
				</div>
			</div>
		</div>
		

	</div>
	<div class="footer">
		<div class="footer_inner">
			<p>

			</p>
		</div>
	</div>
	</div>
</block>

<block name="area_footer">
<include file="include/index" />
</block>