<extend name="include/base_index" />

<block name="area_header">
	<style type="text/css">
		#marquee4 {
			width: 100%;
			height: 445px;
			overflow: hidden;
		}
		#marquee4 ul li {
			margin: 0 auto;
			line-height: 20px;
		}
		#marquee4 ul li a {
			float: none;
		}
		.iamgs {
			padding: 4px 28px;
			text-align: center;
		}
		.iamgs img {
			height: 147px;
			width: 137px;
		}
		.home_jshfc {
			height: 365px;
		}
		.t_list_outerbox {
			height: 450px;
		}
	</style>
</block>

<block name="area_body">
	<div>
		<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="">
	</div>
	<div>
		<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="">
	</div>
	<div class="main auto">
		<include file="include/left" />
		<div class="content">

			<p style="font-size:15px;">当前位置：<a href="#">平台首页</a>&gt;&gt;<a href=""><span id="">详情      </span></a>
			</p>
			<hr>
			<div class="content_left dib vt">
				<div id="div_all" style="width: 190px; border: 1px solid #CCCCCC; height: 430px; overflow: hidden;" onmouseover="stop()" onmouseout="start()">
					<div id="div_main1" style="width: 100%;">
						<include file="include/teacher" />
					</div>

					<div id="div_main2" style=" width: 100%;">
						<include file="include/teacher" />
					</div>

				</div>
			</div>
			<div class="content_right dib vt fix">

				<div class="forum_com_eassyindex list">
					<!--文章部分-->
					<div class="eassy_title">
						<h1>{$posts.post_title}</h1>
						<p>
							<span>来源：测评中心&nbsp;&nbsp;</span><span>作者：评测中心        &nbsp;&nbsp;</span><span>编辑：青         &nbsp;&nbsp;</span><span>发布时间：

                            {$posts.post_date|date='Y-m-d h:m:s',###}</span>
						</p>
					</div>
					<div class="eassy_p">
						{:htmlspecialchars_decode($posts['post_content'])}
					</div>

					<!-- 多说评论框 start -->
					<div class="ds-thread" data-thread-key="{$post.id}" data-title="{$post.post_title}" data-url="__SELF__"></div>
					<if condition="$posts.comment_status eq open">
						<!-- 多说评论框 end -->
						<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
						<script type="text/javascript">
							var duoshuoQuery = {
								short_name: "tch"
							};
							(function() {
								var ds = document.createElement('script');
								ds.type = 'text/javascript';
								ds.async = true;
								ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
								ds.charset = 'UTF-8';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
							})();
						</script>
						<!-- 多说公共JS代码 end -->
					</if>
				</div>
				<!--文章部分-->
				<div class="pager">

				</div>
			</div>

		</div>
		<div class="footer">
			<div class="footer_inner">

			</div>
		</div>
	</div>
</block>

<block name="area_footer">
	<include file="include/index" />
</block>